<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title text-capitalize" text="{{type}}"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <RadListView class="list-group" [items]="items" pullToRefresh="true" (pullToRefreshInitiated)="refreshList($event)"
        *ngIf="items?.length > 0" loadOnDemandMode="Auto" (loadMoreDataRequested)="loadMore($event)">
        <ng-template tkListItemTemplate let-item="item">
            <Label [nsRouterLink]="['/detail', type, item.id]" [text]="item.subject"
                class="list-group-item"></Label>
        </ng-template>
    </RadListView>
</GridLayout>

<FAB [nsRouterLink]="['/compose']" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></FAB>